.wrapper {
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto; /* Taşan içeriği kaydırma çubuğuyla göster */
  }
  
  .container {
    position: relative;
    aspect-ratio: 210/297; /* A4 oranı */
    /* height ve max-height değişiklikleri */
    height: auto; /* 100% yerine auto */
    min-height: 80vh; /* Minimum yükseklik ekledik */
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0; /* Üst ve alt kenar boşluğu */
  }
  
  .gridLines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    pointer-events: none;
  }